@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-family: "IBM Plex Sans", "Roboto", "Verdana", "Geneva", "Tahoma",
    "sans-serif";
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  &-container {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
